@mixin button() {
    button {
        color: white;
        font-weight: bold;
        background-color: var(--color-button);
        &:hover {
            background-color: var(--color-button-light);
        }
        border: none;
        border-radius: var(--border-radius-md);
        padding: 5px 7px;
        height: fit-content;
        cursor: pointer;
    }
}