@mixin colors() {
    :root {
        // Component colors:
        // --color-main-background: #494D5F;
        --color-main-background: #8ccbf0;
        --color-background: #E5EAF5;
        --color-button: var(--color-blue);
        --color-button-light: var(--color-blue);
        --color-table: var(--color-blue);
        --color-table-light: #a1c8dd;
        --color-header: var(--color-blue);
        --color-header-light: var(--color-blue);
        --color-header-dark: #0c6497;

        // Color colors
        --color-blue-light: #6bc1f3;
        --color-blue: #65b2db;
        --color-blue-dark: #28678b;
        --color-grey: #838383;
        --color-grey-light: #ffffff;
        --color-grey-dark: #555555;
        
        --color-font-darker: #aaaaaa;
        
        // WN8 colors
        --color-wn8-0: rgb(134, 19, 19);
        --color-wn8-200: rgb(171, 33, 33);
        --color-wn8-400: rgb(209, 68, 31);
        --color-wn8-600: rgb(204, 128, 0);
        --color-wn8-800: rgb(204, 184, 0);
        --color-wn8-1000: rgb(154, 173, 1);
        --color-wn8-1200: rgb(71, 126, 2);
        --color-wn8-1400: rgb(49, 119, 3);
        --color-wn8-1600: rgb(15, 138, 54);
        --color-wn8-1800: rgb(35, 130, 154);
        --color-wn8-2000: rgb(46, 91, 158);
        --color-wn8-2200: rgb(47, 69, 172);
        --color-wn8-2400: rgb(78, 50, 200);
        --color-wn8-2600: rgb(89, 50, 200);
        --color-wn8-2800: rgb(85, 46, 168);
        --color-wn8-3000: rgb(81, 43, 151);
        --color-wn8-3200: rgb(77, 38, 140);
        --color-wn8-3400: rgb(66, 30, 118);
        --color-wn8-3600: rgb(62, 27, 111);
        --color-wn8-3800: rgb(55, 18, 100);
        --color-wn8-4000: rgb(49, 13, 89);      
        --color-wn8-4200: rgb(47, 12, 85);
        --color-wn8-4400: rgb(42, 9, 72);
        --color-wn8-4600: rgb(35, 7, 59);

        // Winrate colors
        --color-wr-30: rgb(134, 19, 19);
        --color-wr-31: rgb(134, 19, 19);
        --color-wr-32: rgb(134, 19, 19);
        --color-wr-33: rgb(134, 19, 19);
        --color-wr-34: rgb(134, 19, 19);
        --color-wr-35: rgb(134, 19, 19);
        --color-wr-36: rgb(134, 19, 19);
        --color-wr-37: rgb(134, 19, 19);
        --color-wr-38: rgb(134, 19, 19);
        --color-wr-39: rgb(134, 19, 19);
        --color-wr-40: rgb(134, 19, 19);
        --color-wr-41: rgb(141, 22, 22);
        --color-wr-42: rgb(164, 30, 30);
        --color-wr-43: rgb(189, 40, 40);
        --color-wr-44: rgb(201, 49, 49);
        --color-wr-45: rgb(209, 62, 35);
        --color-wr-46: rgb(204, 122, 0);
        --color-wr-47: rgb(204, 169, 0);
        --color-wr-48: rgb(199, 185, 0);
        --color-wr-49: rgb(145, 167, 1);
        --color-wr-50: rgb(81, 131, 1);
        --color-wr-51: rgb(59, 116, 2);
        --color-wr-52: rgb(28, 122, 6);
        --color-wr-53: rgb(20, 144, 88);
        --color-wr-54: rgb(38, 122, 156);
        --color-wr-55: rgb(46, 91, 158);
        --color-wr-56: rgb(47, 69, 172);
        --color-wr-57: rgb(78, 50, 200);
        --color-wr-58: rgb(89, 50, 200);
        --color-wr-59: rgb(85, 46, 168);
        --color-wr-60: rgb(81, 43, 151);
        --color-wr-61: rgb(78, 39, 144);
        --color-wr-62: rgb(70, 32, 126);
        --color-wr-63: rgb(64, 29, 114);
        --color-wr-64: rgb(63, 26, 112);
        --color-wr-65: rgb(57, 20, 103);
        --color-wr-66: rgb(51, 14, 93);
        --color-wr-67: rgb(49, 13, 89);
        --color-wr-68: rgb(47, 12, 85);
        --color-wr-69: rgb(41, 9, 72);
        --color-wr-70: rgb(37, 8, 64);

    }
}