@mixin colors() {
    :root {
        --color-main-background: #494D5F;
        --color-background: #E5EAF5;
        --color-accent: #A0D2EB;
        --color-header: #0881c6;
        --color-header-light: #4195c5;
        --color-header-dark: #0c6497;

        --color-grey-light: #b6b6b6;

        --color-table: #161215;
        --color-table-light: #292728;
    }
}